appnope==0.1.2
backcall==0.2.0
decorator==4.4.2
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jsonpickle==2.0.0
MarkupSafe==1.1.1
networkx==2.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.17
ptyprocess==0.7.0
Pygments==2.8.1
pyvis==0.1.9
traitlets==5.0.5
wcwidth==0.2.5
